<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@1,100;1,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
  <header>
    <div class="top-header">
      <div class="logo">
        <img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
      </div>
      <div class="buscador">
        <input type="text" name="buscar" placeholder="Buscar productos, maras y más">
        <i class="fas fa-search"></i>
      </div>
      <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>      
    </div> 
    <nav class="nav-bar">
      <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul>
        <li><a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
        <li><a href="/login">Ingresá <i class="fas fa-sing-in-alt"></i></a></li>
        <li><a href="/">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars burger"></i>
    </div>
    </header>
    <main>
      <form action="/" method="GET" class="login-form">
        <div class="control-form">
          <!-- <label for="nombre">Nombre y apellido:</label> -->
          <input type="text" name="nombre" placeholder="Nombre y apellido" required>
        </div>
        <div class="control-form">
          <!-- <label for="usuario">Nombre de usuario:</label> -->
          <input type="text" name="usuario" placeholder="Nombre de usuario" required>
        </div>
        <div class="control-form">
          <!-- <label for="fechaNacimiento">Fecha de nacimiento</label> -->
          <input type="date" name="fechaNacimiento" required>
        </div>
        <div class="control-form">
          <!-- <label for="email">E-mail:</label> -->
          <input type="email" name="email" placeholder="@mail" required>
        </div>
        <div class="control-form">
          <!-- <label for="domicilio">Domicilio:</label> -->
          <input type="text" name="domicilio" placeholder="Domicilio" required>
        </div>
        <div class="perfil">
          <fieldset>
          <h3 class="title-profile">Perfil del usuario</h3>
            <input type="radio" name="perfil" value="Comprador"> Comprador
            <!-- <label for="Comprador"></label> -->
          
          
            <input type="radio" name="perfil" value="Vendedor"> Vendedor
            <!-- <label for="Vendedor"></label> -->
          </fieldset>
        </div>
        <div class="control-form">
          <h3 class="title-profile">Intereses</h3>
          <fieldset>

          <div class="check-list">
            <input type="checkbox" name="interes" value="electro">Electro
            <!-- <label></label>   -->
          </div>
            
          <div class="check-list">
            <input type="checkbox" name="interes" value="moda">Moda
            <!-- <label></label>   -->
          </div>
          
          <div class="check-list">
            <input type="checkbox" name="interes" value="hogar">Hogar
            <!-- <label></label>   -->
          </div>
          
          <div class="check-list">
            <input type="checkbox" name="interes" value="jugueteria">Juguetería
            <!-- <label></label>   -->
          </div>
          
          <div class="check-list">
            <input type="checkbox" name="interes" value="vidasana">Vida sana
            <!-- <label></label>   -->
          </div>
        </fieldset>
        </div>
        <div class="control-form">
          <label>Foto de usuario</label>
          <input type="file" name="foto" multiple>
        </div>
        <div class="control-form">
          <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        <div class="control-form">
          <input type="password" name="password" placeholder="Confirmar contraseña" required>
        </div>
        <div class="control-form">
          <button class="btn" type="submit">Registrar</button>
          <button class="btn" type="reset">Cancelar</button>
        </div>
      </form>      
    </main>
    <footer>
      <div class="footer-icons"><i class="far fa-credit-card"></i></div>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
        
      <div class="footer-icons"><i class="fas fa-gift"></i></div>
      <h4>Envío gratis desde $ 2.500</h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
        
      <div class="footer-icons"><i class="fas fa-user-shield"></i></div>
      <h4>Seguridad, de principio a fin</h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>

      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>    
    </footer>
  </body>
</html>